:host {

  mat-card {
    display: block;
    width: 40%;
    margin: auto;

    .content {
      width: 100%;
    }

    mat-card-actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-top: 0;;
    }
  }

}
