<mat-drawer-container autosize>
  <mat-drawer #drawer mode="over">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/patient']" (click)="drawer.toggle()"><b>Patient</b></a>
    </mat-nav-list>
  </mat-drawer>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img class="logo" src="../assets/img/logo_white.png" alt="mediscreen logo"/>
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

